// Color palette
$body-background: #332e3c;
$body-background-alt: #1d1a23;
$navbar-background: #4472ca;

$primary-color: #48a9a6;
$secondary-color: #fb3640;
$tertiary-color: #2b6462;
$accent-color: #73bfb8;

// Buttons
$button-background: $primary-color;

// Defaults
section {
  background: $body-background;

  // &:nth-of-type(even){
  //   background-color: $body-background-alt;
  // }
}
