@import "../../node_modules/materialize-css/dist/css/materialize.min.css";
@import "./overrides.scss";

.transparent-navbar {
  background-color: rgba(0, 0, 0, 0.7);
}

.black-cover {
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 100%;
}

#welcome-section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)),
    url("../img/code.png");
  height: 100vh;
}

@media (max-width: 900px) {
  #welcome-section {
    margin: 0;
  }
}
