@import "../../node_modules/materialize-css/dist/css/materialize.min.css";

#welcome-section {
  background-image: url("../img/code.png");
  height: 100vh;
}

@media (max-width: 900px) {
  #welcome-section {
    margin: 0;
  }
}
