// Google Font
@import url("https://fonts.googleapis.com/css2?family=Jura&family=Krona+One&display=swap");

// Font stack
$font-stack: Jura, Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
$krona-font: "krona One", $font-stack;

html {
  font-family: $font-stack;
  font-size: 15pt;
}

.headline {
  color: #fff;
  font-size: 2em;
  font-family: $krona-font;
  text-align: center;
  width: 100%;
  padding: 40px 0px;
}

.hero-content {
  h1,
  h2 {
    font-family: $krona-font;
  }

  h1 {
    font-size: 2.3em;
  }
}
